body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

h1, h2 {
  font-family: 'Press Start 2P', cursive;
  color: #333;
}

#letras button {
  margin: 5px;
  padding: 10px;
}

#boneco img {
  transition: transform 0.3s ease;
}

#game {
  margin-top: 50px;
}
